@import "tailwindcss";

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5% !important;
}

body {
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
}

.for-opacity {
    background-color: rgba(10, 12, 28, 0.5)
}


@layer components {
    .menu-button {
        @apply w-[10.5rem] h-[4.8rem] rounded-[26.5px] bg-[#f87070]
    }

    .menu-text {
        @apply font-[KumbhSans] text-[1.2rem] font-bold leading-normal text-[#1e213f]
    }
    
    .menu {
        @apply w-[32.7rem] h-[6.3rem] pt-[0.8rem] pb-[0.7rem] rounded-[31.5px] bg-[#161932] m-auto 
        mt-[4.5rem] flex justify-center
    }

    .line {
        @apply w-full h-[0.1rem] mt-[2.8rem] bg-[#e3e1e1]
    }

    .input-styles {
        @apply w-[14rem] h-[4rem] rounded-[1rem] bg-[#eff1fa] text-[1.4rem] font-bold leading-normal text-[#1e213f] pl-[1.6rem]
    }

    .label-styles {
        @apply text-[1.2rem] font-bold leading-normal text-[#1e213f] opacity-[0.4]
    }

    .parent-of-input {
        @apply flex justify-between items-center relative
    }

    .arrow-styles {
        @apply w-[1.2rem] h-[0.4rem] 
    }

    .arrows-container {
        @apply flex flex-col gap-[0.9rem] absolute top-[1.2rem] right-[1.6rem]
    }

    .sub-title {
        @apply text-[1.1rem] font-bold tracking-[4.23px] text-center text-[#161932] mt-[2.4rem]
    }

    .font-container {
        @apply w-[4rem] h-[4rem] rounded-[50%] bg-[#eff1fa] text-[1.5rem] leading-normal text-[#1e213f] 
        flex justify-center items-center
    }

    .color-container {
        @apply w-[4rem] h-[4rem] rounded-[50%] 
    }

    .fonts-and-colors-container {
        @apply flex justify-center gap-[1.6rem] mt-[1.8rem]
    }

    .button-styles {
        @apply w-[14rem] h-[5.3rem] rounded-[2.7rem] bg-[#f87070] text-[1.6rem] font-bold text-center text-[#fff]
    }
}