@import "tailwindcss";

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5% !important;
}

body {
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
}

.for-opacity {
    background-color: rgba(10, 12, 28, 0.5)
}

.arch {
    position: relative;
}

.arch::before {
    content: "";
    position: absolute;
    width: calc(100% + 0.8rem); 
    height: calc(100% + 0.8rem);
    border: 1px solid #eff1fa; 
    border-radius: 50%; 
}

.for-added-button:hover .added-button {
    display: block;
    cursor: pointer;
}

@layer components {
    .title {
        @apply text-[2.4rem] font-bold leading-normal text-center text-[#d7e0ff] pt-[3.2rem] md:pt-[8rem] md:text-[3.2rem]
        xl:pt-[4.8rem]
    }

    .menu-button {
        @apply w-[10.5rem] h-[4.8rem] rounded-[26.5px] md:w-[12rem] 
    }

    .menu-text {
        @apply font-[KumbhSans] text-[1.2rem] font-bold leading-normal md:text-[1.3rem]
    }
    
    .menu {
        @apply w-[32.7rem] h-[6.3rem] pt-[0.8rem] pb-[0.7rem] rounded-[31.5px] bg-[#161932] m-auto 
        mt-[4.5rem] flex justify-center md:w-[37.3rem] md:mt-[5.5rem]
    }

    .line {
        @apply w-full h-[0.1rem] mt-[2.8rem] bg-[#e3e1e1] md:mt-[3.1rem]
    }

    .input-styles {
        @apply w-[14rem] h-[4rem] rounded-[1rem] bg-[#eff1fa] text-[1.4rem] font-bold leading-normal text-[#1e213f] pl-[1.6rem]
        hover:cursor-pointer focus:cursor-text
    }

    .label-styles {
        @apply text-[1.2rem] font-bold leading-normal text-[#1e213f] opacity-[0.4]
    }

    .parent-of-input {
        @apply flex justify-between items-center relative md:flex-col md:items-start md:gap-[1rem]
    }

    .arrow-styles {
        @apply w-[1.2rem] h-[0.4rem];
    }
    
    .arrow-styles:hover {
        filter: invert(37%) sepia(90%) saturate(400%) hue-rotate(180deg);
    }

    .arrows-container {
        @apply flex flex-col gap-[0.9rem] absolute top-[1.2rem] right-[1.6rem] md:top-[4rem]
    }

    .sub-title {
        @apply text-[1.1rem] font-bold tracking-[4.23px] text-center text-[#161932] mt-[2.4rem]
        md:text-[1.3rem] md:tracking-[5px] md:text-left md:pl-[4rem]
    }

    .font-container {
        @apply w-[4rem] h-[4rem] rounded-[50%] bg-[#eff1fa] text-[1.5rem] leading-normal text-[#1e213f] 
        flex justify-center items-center cursor-pointer
    }

    .color-container {
        @apply w-[4rem] h-[4rem] rounded-[50%] flex justify-center items-center cursor-pointer
    }

    .fonts-and-colors-container {
        @apply flex justify-center gap-[1.6rem] mt-[1.8rem] sm:gap-[2.6rem] xl:gap-[1.6rem]
    }

    .button-styles {
        @apply w-[14rem] h-[5.3rem] rounded-[2.7rem] bg-[#f87070] text-[1.6rem] font-bold text-center text-[#fff]
        absolute top-[-2.65rem] cursor-pointer
    }

    .pause {
        @apply w-[9.5rem] text-[1.4rem] font-bold leading-normal tracking-[13.13px] text-[#d7e0ff] mt-[3.5rem] 
        md:text-[1.6rem] md:leading-[15px] md:mt-[5.5rem]
    }

    .countdown-container {
        @apply w-[30rem] h-[30rem] rounded-[50%] bg-[#161932] m-auto mt-[4.8rem] relative md:w-[41rem] md:h-[41rem] 
        md:mt-[10.9rem] xl:mt-[5.5rem]
    }

    .settings-container {
        @apply w-[32.7rem] sm:w-[42.7rem] rounded-[15px] pt-[2.4rem] pb-[5.9rem] bg-white m-auto md:w-[54rem] 
        md:rounded-[25px] md:pt-[3.4rem] md:pb-[7.4rem]
    }

    .check-unicode {
        @apply text-3xl 
    }

    .second-apply {
        @apply w-[14rem] h-[5.3rem] rounded-[2.7rem] bg-white font-bold text-center text-[#fff] opacity-[0.2] 
        absolute top-[-2.7rem] hidden
    }
}